<mat-card>
    <mat-card-header>
        <mat-card-title>Crear cuenta</mat-card-title>
        <mat-card-subtitle>Empieza a usar delogy:shop</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form novalidate [formGroup]="siginForm" (ngSubmit)="onSigin(siginForm.value)">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nombre" formControlName="name">
                    <mat-error>
                        Campo obligatorio
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Apellidos" formControlName="last_name">
                    <mat-error>
                        Campo obligatorio
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Correo" formControlName="email">
                    <mat-error>
                        Inserta un correo electrónico válido
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password">
                    <mat-error>
                        Inserte una contraseña valida de al menos 5 caracteres.
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Confirmar contraseña" formControlName="password2">
                    <mat-error *ngIf="checkPassword()">
                        Las contraseñas no coinciden
                    </mat-error>
                </mat-form-field>

            </p>

            <button type="submit" [disabled]="siginForm.invalid" mat-raised-button color="primary">Registrarse</button>
        </form>
    </mat-card-content>
</mat-card>
