<mat-toolbar color="primary" class="navbar">
    <span color="primary" (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </span> &nbsp;&nbsp;
    <a routerLink="/">
        <span>Delogy:shop</span>
    </a>
    <span class="fill-remaining-space"></span>
</mat-toolbar>


<mat-sidenav-container>

    <mat-sidenav #sideNav mode="side" [(opened)]="opened">

        <mat-nav-list>
            <a mat-list-item routerLink="menu" (click)="closeNav()">
                <mat-icon>widgets</mat-icon>Menu principal
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="about" (click)="closeNav()">
                <mat-icon>group</mat-icon>Acerca de nosotros
            </a>

            <a mat-list-item routerLink="contact" (click)="closeNav()">
                <mat-icon>alternate_email</mat-icon>Contacto
            </a>
        </mat-nav-list>

    </mat-sidenav>
</mat-sidenav-container>
