.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

mat-sidenav {
    width: 200px;
    cursor: pointer;
    background: rgb(113, 179, 218);
    position: fixed;
    top: 55px;
    z-index: 1000;
}

mat-icon {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.mat-list-base .mat-list-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}
