<div class="container">
    <ngb-carousel @enterState *ngIf="images">
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img [src]="image" alt="Random slide" width="400" height="300">
            </div>
            <div class="carousel-caption">
                <h3>delogy : shop</h3>
                <p>Tu negocio en un click</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
