<!-- <mat-card>
    <mat-card-actions>
        <button mat-stroked-button (click)="openSnackBar('hola', 'cerrar')">Show snack-bar</button>
    </mat-card-actions>
</mat-card>
<ngb-alert type="custom" [dismissible]="false"><strong>Whoa!</strong> <br>This is a custom alert.</ngb-alert> -->
<!-- <mat-card>
    <mat-card-actions>
        <button mat-stroked-button (click)="showNotify(0)">Show snack-bar</button>
    </mat-card-actions>
</mat-card> -->