<div class="container-icon">
    <mat-card @enterState class="container-card">
        <mat-card-content>
            {{nameModule}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button [@cursorState]="state" (mouseover)="cursorOnButton()" (click)="prueba(nameModule)"><mat-icon aria-hidden="false" aria-label="">{{iconModule}}</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>