    .container-icon {
        margin-top: 25px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        justify-content: center;
    }

    .container-card {
        background: rgb(0, 14, 201);
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        width: auto;
    }
