<mat-card>
    <mat-card-header>
        <mat-card-title>Iniciar sesion</mat-card-title>
        <mat-card-subtitle>Empieza a usar delogy:shop</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Usuario" formControlName="email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password">
                </mat-form-field>
            </p>
            <p>
                <button type="submit" mat-raised-button color="primary">Iniciar sesion</button><br>
                <a routerLink="/sig-in">¿No tienes cuenta? Registrate aqui</a>
            </p>
        </form>
    </mat-card-content>
</mat-card>
