mat-card {
    justify-content: center;
}

mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-header,
mat-card-content {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}
