<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>Recurso no encontrado</mat-card-title>
        <mat-card-subtitle>Version 1.0.2</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            Esto se debe a que accedio a un recurso no disponible dentro de la aplicacion
        </p>
        <app-button-back></app-button-back>
    </mat-card-content>
</mat-card>