<mat-toolbar color="primary">
    <a routerLink="/">delogy:shop</a>
    <span class="fill-remaining-space"></span>
    <a routerLink="/about" routerLinkActive="active"><button mat-button>Acerca</button></a>
    <a routerLink="/contact" routerLinkActive="active"><button mat-button>Contacto</button></a>
</mat-toolbar>